.container {
    font-family: Rye;
    margin-top:15%;

}

.ant-table-cell {
    color:white;
}

.ant-spin-container:hover {
    color:black;
}


body{
    overflow: hidden;
    background-image: url('https://i.pinimg.com/originals/33/11/92/3311924db62ceef62a4a7ee87017280f.jpg');
}
table{
    background-image: url('https://i.ytimg.com/vi/WklvHSS0kRk/maxresdefault.jpg');
}

.ant-table-cell:hover{
    color: rgb(17, 17, 17);
}

.ant-table-pagination.ant-pagination {
    opacity:0;
}